{% extends 'base.html.twig' %}

{% block title %}Product list{% endblock %}

{% block body %}
    <h1>Welcome to the Product list page</h1>
    <table>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <a href="{{ path('show_product', {'id': product.id}) }}" class="btn btn-primary" role="button">Show</a>
                </td>
                <td>
                    <a href="{{ path('remove_product', {'id': product.id}) }}" class="btn btn-danger" role="button">Remove</a>
                </td>
                <td>
                    <a href="{{ path('basket_add', {'id': product.id}) }}" class="btn btn-info">Add to basket</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
